.home-container{
    text-align: center;
    height: fit-content;
    border-bottom: 1px dotted red;
    background: #000000;
    overflow: hidden;
}

video{
    max-height: 150vh;
    width: 100%;
}

.video-container{
    display: flex;
    position: relative;
    background: url('../images/mountain.mp4');
    background-size: contain;
}

.title{
    justify-content: center;
    position: absolute;
    z-index: 900;
    padding-top: 5%;
    width: 100%;
    
}

.z-logo {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 20px  15px black;
    mix-blend-mode: multiply;
}

@media (max-width: 800px) {
    .z-logo{
        margin-top: 10%;
        width: 80%;
        box-shadow: 10px 10px 15px rgb(100, 0, 0);
    }

    .home-container{
        padding-top: 20%;
        height: 100vh;
        background-color: whitesmoke;
    }

    video{
        display: none;
    }
}