.web-container{
    justify-content: center;
    background-color: black;

    overflow: hidden;
    font-family: 'Arial Narrow';
    border-bottom: 1px dotted red;
}

::-webkit-scrollbar{
    display: none;
  }

.web-card{
    background-color: #ffffff;
    margin: 10% 10%;
    height: 50%;
    color: black;
    border-radius: 20px;
    border: 2px solid red;
    box-shadow: 0px 10px 15px rgb(255, 0, 0);
    transform: skew(-5deg);
}

h2{
    text-decoration: underline;
    padding-left: 1%;
    padding-top: 1%;
    font-size: xx-large;
    text-shadow: 1px 1px red;
}

p{
    font-size: x-large;
    text-indent: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

@media (max-width:800px) {

    .web-container{
        background-color: whitesmoke;
        padding-top: 20%;
        font-size: 12px;
        scroll-behavior: smooth;
        scrollbar-width: 0px;
    }

    .web-card{
        text-align: center;
        transform: none;
        max-width: 80%;
        background-color: black;
    }

    h2{
        font-size: 24px;
        color: whitesmoke;
    }

    p{
        font-size: 16px;
        color: whitesmoke;
    }
}